<div>
  
  <div fxLayout="row" fxFlex="auto"  *ngIf="!checkToken" fxLayoutAlign="center start">
    <h1>Welcome to home</h1>
  </div>
  <div fxLayout="row" fxFlex="auto"  *ngIf="checkToken" fxFlexOffset="15" fxLayoutAlign="center start">
    <h1>Welcome to home</h1>
  </div>

  <div  fxLayout="row"  fxLayoutAlign="end start">
    <h3 *ngIf="checkToken">Hi! <span [innerText]="nameId"></span></h3>
  </div>
    
    <div fxLayout="row"  fxLayoutAlign="end start">
    
      <button mat-raised-button color="primary" *ngIf="!checkToken" (click)="navigateToLogin()">Login</button>
      <button mat-raised-button color="primary" *ngIf="checkToken" (click)="navigateToLogout()">Logout</button>
    </div>

</div>

